<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!-- Clear existing connection strings and add new SQLite connection string -->
        <clear />
        <add name="festival-csharp"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\Users\Ivona\Facultate\Baze-date\MPP\festival-csharp.db;Version=3;" />
    </connectionStrings>
</configuration>